.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.navbar {
    box-shadow: 0px 5px 10px 0px #0a0819;
    position: fixed;
    width: 100%;
    background: #27204d;
    color: #fff;
    /* opacity: 0.85; */
    z-index: 100;
    padding: 0 0 5px;
}


.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.3rem;
    background: linear-gradient(#ffdb71,#cf7a0f);
    -webkit-background-clip: text;
    color: transparent;
    
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    font-family: 'Atvice-Bold', cursive;
    display: block;
    padding: 19px 15px;
    margin: 0 5px;
    text-decoration: none;
    color: #fff9f9;
    font-size: 21px;
    font-weight: 700;
    border-radius: 0;
    transition: color .3s ease-in-out;
    position: relative;
}
.nav-logo {
    display: flex;
    align-items: center;
    margin: -15px 0 0;
}
.navbar a:hover{
    color: #cf7a0f;
}
.navbar .active{
    background: linear-gradient(#ffdb71,#cf7a0f);
}
.navbar .active:before{
    content: "";
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 15px solid #d38217;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}